/*******layout*******/
html, body{
	margin:0px;
	padding:0px;
	height:100%;
	width: 100%;
}

h1#projectName{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #FF751a;
	font-size: 30px;
	margin:0px 0px 20px 30px;
	padding:0px;
	font-weight: bold;
}

div h2{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #FF751a;
	font-size:25px;
	font-weight: bold;
}

span {
	padding: 5px;
}

.wrapper1{
	width:100%;
	height:80%;
}

.wrapper2{
	display:block;
	margin:0;
	padding-left:30px;
	width:35%;
	height:90%;
	float:left;
}

#task {
	height:65%;
	width:100%;
	float:left;
	overflow:auto;
}

#resources {
	display:block;
	margin: 0px auto;
	padding-left:30px;
	overflow:auto;
}

#schedule {
	text-align:center;
	float:center;
	width: 60%;
	height:100%;
	overflow:auto;
	padding: 10px;
}

ul.inline{
	border-radius: 40px/20px;
	border: 2px solid #FFCC66;
	display:inline-block;
	padding: 10px;
	margin: 5px;
}
ul.inline li{
	list-style: none;
}
.highlight {
    background-color: #FFCC66;
	color:#FFFFFF;
	font-weight:bold;
}

li{
	list-style: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

img.arrow{
	height:20px;
}

#calendar {
	max-width: 900px;
	margin: 0 auto;
}

.clsDatePicker {
    z-index: 100000;
}